<template>
  <v-card>
    <v-list two-line subheader>
      <v-subheader>
        <v-switch v-model="isActive" :label="isActiveFormatted"></v-switch>
      </v-subheader>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>Termostat</v-list-item-title>
          <v-list-item-subtitle>Location: main room</v-list-item-subtitle>
          <div class="mt-3">
            <v-chip>{{feelsLike}}</v-chip>
          </div>
        </v-list-item-content>
        <v-list-item-action>
          <p class="display-2">{{temperatureFormatted}}</p>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-card-actions>
      <v-btn
        text
        color="blue darken-1"
        dark
        @click="onDecrease"
        :disabled="temperature == min || !isActive"
      >Decrease</v-btn>
      <v-btn
        text
        color="red darken-1"
        dark
        @click="onIncrease"
        :disabled="temperature == max || !isActive"
      >Increase</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    min: {
      type: Number,
      default: -24
    },
    max: {
      type: Number,
      default: 28
    }
  },
  computed: {
    isActiveFormatted() {
      return this.isActive ? "ON" : "OFF";
    },
    temperatureFormatted() {
      if (this.isActive) {
        return `${this.temperature > 0 ? "+" : ""}${this.temperature}°C`;
      } else {
        return "-";
      }
    },
    feelsLike() {
      let feeling;
      switch (true) {
        case this.temperature > 24:
          feeling = "very hot";
          break;
        case this.temperature > 18:
          feeling = "normal";
          break;
        case this.temperature > 14:
          feeling = "cool";
          break;
        case this.temperature > 4:
          feeling = "cold";
          break;
        case this.temperature >= 0:
          feeling = "freezing";
          break;
        case this.temperature < 0:
          feeling = "fucking freezing";
          break;
      }
      return this.isActive ? feeling : "undefined";
    }
  },
  data: () => ({
    isActive: false,
    temperature: 20
  }),
  methods: {
    onDecrease() {
      if (this.temperature > this.min) {
        this.temperature--;
      }
    },
    onIncrease() {
      if (this.temperature < this.max) {
        this.temperature++;
      }
    }
  }
};
</script>

<style lang="sass">
</style>